table {
    
  border-collapse: collapse;
  width:100%;
  text-align: right;
  
  td {
    padding:0 5px;
    
    &:first-child {
      text-align:left;
    }
  }
  
  th {
    background:#fff;
    color:#E96D65;
    padding:2px 5px;
    
    &:first-child {
      text-align: left;
    }
  }
}